@charset "UTF-8";
/* CSS Document */

a.open {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	font-size: 18px;
	text-transform: none;
	text-decoration: none;
	text-align:center;
	margin-top:65px;
}

a.open:Hover {
	color: #FFFFFF;
}

.player {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	font-size: 36px;
	text-transform: none;
	text-decoration: none;
}

.card {
	font-family:Verdana, Geneva, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	font-size: 24px;
	text-transform: none;
	text-decoration: none;
}
