@charset "UTF-8";
/* CSS Document */

.full {
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

.center {
	position: relative;
	left:50%;
	margin-left:-300px;
}

.start {
	position:relative;
	display:block;
	width:150px;
	height:150px;
	float:left;
}

.page {
	position:relative;
	margin:20px;
}

.result {
	position:relative;
	width:230px;
	padding:20px;
	margin-right:20px;
	margin-bottom:20px;
	float:left;
}

.score {
	position:relative;
	width:auto;
	padding:20px;
	margin-bottom:20px;
}

.twitter {
	width:550px;
	margin-top:20px;
	margin-bottom:20px;
}

.paper {
	background-color:#FFF;
	padding:5px;
	width:30px;
	float:left;
	margin-right:5px;
	text-align:center;
}

#select {
	width:300px;
	height:150px;
}

#pocker {
	background-color:#9C3;
}

#blackjack {
	background-color:#F63;
}
